<template name="searchFullNames">
  {{> esInput index="fullNamesIndex" placeholder="Search full names..." }}

  <span>sort by first or last name</span>
    <select class="sort-select">
      <option data-sort="first-name">first name</option>
      <option data-sort="last-name">last name</option>
    </select>

  {{> listFullNames}}

  {{> esLoadMoreButton index="fullNamesIndex"}}

  {{#ifEsHasNoResults index="fullNamesIndex"}}
      <div class="no-results">No results found!</div>
  {{/ifEsHasNoResults}}

  {{#ifEsIsSearching index="fullNamesIndex"}}
          <div>Loading...</div>
  {{/ifEsIsSearching}}
</template>
