<template name="searchPeople">
  {{> esInput index="peopleIndex" placeholder="Search People..." }}

  <span>seach within a range</span>
  <form id="peopleAgeLimitFormArea" action="index.html" method="post">
    <div class="range-selection">
      <input class="lowerQuantity" type="number" name="lowerQuantity" min="1" max="125">
      <input class="upperQuantity" type="number" name="upperQuantity" min="1" max="125">
      <input id="clear-people-age-form" type="reset" value="Clear Form" />
      <input type="submit" value="Add/Update range" />
    </div>
  </form>

  {{> listPeople}}

  {{> esLoadMoreButton index="peopleIndex"}}

  {{#ifEsHasNoResults index="peopleIndex"}}
      <div class="no-results">No results found!</div>
  {{/ifEsHasNoResults}}

  {{#ifEsIsSearching index="peopleIndex"}}
          <div>Loading...</div>
  {{/ifEsIsSearching}}
</template>
